<div class="container">
  <div class="row">
    <h3>ROUTINE一覧</h3>
    <table class="table text-center">
      <tr>
        <td>
          <%= link_to public_post_routines_study_path do %>
          勉強のみ表示
          <% end %>
        </td>
        <td>
          <%= link_to public_post_routines_exercise_path do %>
          運動のみ表示
          <% end %>
        </td>

        <td>
          <%= link_to public_post_routines_others_path do %>
          その他のみ表示
          <% end %>
        </td>
      </tr>


    </table>

    <div class="col-12">
      <table class="table text-center">
      <% @others.each do |routine| %>
        <tr>
          <td rowspan=3>
            <%= link_to public_post_routines_show_path(routine) do %>
            <%= image_tag routine.user.get_profile_image(100,100) %>
            <% end %>
            <br>ジャンル：<%= routine.genre_i18n %>

          </td>
          <td colspan=2>
            <%= routine.routine_info %>
          </td>
        </tr>
        <tr>
          <td colspan=2>
            ユーザーネーム：<%= routine.user.user_name %>
          </td>
        </tr>
        <tr>
          <td>
            <%= link_to public_post_routines_show_path(routine) do %>
            <button class="btn btn-success">
              コメントする
            </button>
            <% end %>
          </td>
          <td>
            <% if routine.favorited?(current_user) %>
            <p>
              <%= link_to public_favorites_destroy_path(routine), method: :delete do %>
              ❤:<%= routine.favorites.count %> いいね
              <% end %>
            </p>
            <% else %>
            <p>
              <%= link_to public_favorites_create_path(routine), method: :post do %>
              ♡:<%= routine.favorites.count %>
              <% end %>
            </p>
            <% end %>
          </td>
        </tr>
      <% end %>
      </table>

    </div>
  </div>
</div>