<div class="container">
  <div class="row mt-3">
    会員一覧
  </div>
  <div class="row mt-3">
    <div class="col-10 text-center">
      <table class="table">
        <thead>
          <th>
            会員一覧
          </th>
          <th>
            ユーザー名
          </th>
          <th>
            メールアドレス
          </th>
          <th>
            ステータス
          </th>
        </thead>

        <% @user.each do |user| %>
        <tbody>
          <td>
            <%= user.id %>
          </td>
          <td>
            <%= link_to admin_user_path(user) do %>
            <u><%= user.user_name %></u>
            <% end %>
          </td>
          <td>
            <%= user.email %>
          </td>
          <td>
            <% if user.is_deleted == false %>
            <div class="text-success">
            <%= "有効" %>
            </div>
            <% else %>
            <div class="text-muted">
            <%= "退会" %>
            </div>
            <% end %>
          </td>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>
  <div class="row text-centor">
    <%= paginate @user %>
  </div>
</div>